build
install
log
*.pyc
umrr_ros2_driver/__pycache__
simulator/simulation/build_dir
simulator/simulation/out

simulator/smartmicro/*
!simulator/smartmicro/include
simulator/smartmicro/include/*
!simulator/smartmicro/include/DataServicesIface.h
!simulator/smartmicro/include/InstructionBuffer.h
!simulator/smartmicro/include/Types.h

umrr_ros2_driver/smartmicro/
!umrr_ros2_driver/smartmicro/Readme.md
